@mixin button ($bgc, $fontcolor,$hoverbgc ){
    padding: 1.25rem 2.5rem;
    margin-right: 1.5rem;
    border-radius: 10px;
    background-color: $bgc;
    text-decoration: none;
    color: $fontcolor;
    &:hover{
        background-color: $hoverbgc;
    }
}


@mixin portfoliocard($bgcurl){
    background: $bgcurl;
   padding: 5rem;
   color: white;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   transition: .5s;
    h2{
        font-size: 0.8rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    }
    p{
        font-weight: 300;
        font-size: 1.2rem;

    }
    &:hover{
        background: linear-gradient(90deg, rgba(32,27,117,1) 0%, rgba(23,102,127,1) 100%);
        transform: scale(0.5);
    }
}


