$headerfontfamily:'Montserrat', sans-serif;
$mainfontfamily: 'Source Sans Pro', sans-serif;
$maingray:#212529;
$mainorange:#ffc800;
$mainwhite:#fff;
$mainblue:#1D809F;
$blue2:#13596f;
$gray2:#6c757d;
$gray3:#2e353b;
$black: black;