* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  background-color: #212529;
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 24px 0px;
}
header .nav__logo a {
  color: #ffc800;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  font-size: 1.5em;
  transition: font-size 0.3s ease-in-out;
}
header .nav__logo a img {
  height: 2rem;
  transition: height 0.3s ease-in-out;
}
header .nav-right {
  display: flex;
}
header .nav-right__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-right__link-item {
  margin-right: 16px;
}
@media (max-width: 998px) {
  header .nav-right__link-item {
    display: none;
  }
}
header .nav-right__link-item a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
  text-decoration: none;
}
header .nav-right__btn {
  color: white;
  font-size: 30px;
  background-color: transparent;
  padding: 1px 6px;
  position: fixed;
  border-radius: 10px;
  right: 30px;
  top: 10px;
  display: none;
}
@media (max-width: 998px) {
  header .nav-right__btn {
    display: block;
  }
}

main {
  margin-top: 80px;
}
main #hero {
  height: 100vh;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg");
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
main #hero .col-12 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #hero .col-12 h1 {
  font-size: 4rem;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}
main #hero .col-12 h3 {
  margin-bottom: 3rem;
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 700;
  display: block;
  line-height: 1.2;
}
main #hero .col-12 a {
  padding: 1.25rem 2.5rem;
  background-color: #1d809f;
  text-decoration: none;
  display: block;
  color: white;
  border-radius: 10px;
}
main #hero .col-12 a:hover {
  background-color: #13596f;
}
main #about {
  background-color: #e9ecef;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
main #about .col-12 {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #about .col-12 h2 {
  font-size: 30px;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}
main #about .col-12 p {
  margin-bottom: 3rem;
  font-size: 1.25rem;
  font-weight: 300;
}
main #about .col-12 p .link {
  color: #1D809F;
  text-decoration: underline;
}
main #about .col-12 .links {
  padding: 1.25rem 2.5rem;
  background-color: #212529;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
main #about .col-12 .links:hover {
  background-color: #2e353b;
}
main #services {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background-color: #1D809F;
  text-align: center;
}
main #services .para {
  text-align: center;
}
main #services .para h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ecb807;
}
main #services .para h2 {
  font-size: 3rem;
  color: white;
  margin-bottom: 3rem;
}
main #services .img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main #services .img .col-lg-3 {
  text-align: center;
}
main #services .img .col-lg-3 span {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 50%;
  text-align: center;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
main #services .img .col-lg-3 h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-size: 25px;
  color: white;
}
main #services .img .col-lg-3 p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}
main #downloadnow {
  padding: 15rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
main #downloadnow .col-12 {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #downloadnow .col-12 h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
  margin-bottom: 3rem;
}
main #downloadnow .col-12 a {
  padding: 1.25rem 2.5rem;
  background-color: #1d809f;
  text-decoration: none;
  display: block;
  color: white;
  border-radius: 10px;
}
main #downloadnow .col-12 a:hover {
  background-color: #13596f;
}

#portfolio {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
#portfolio .parag {
  text-align: center;
}
#portfolio .parag h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ecb807;
}
#portfolio .parag h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 700;
  line-height: 1.2;
}
#portfolio .div1 {
  background: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg");
  padding: 5rem;
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}
#portfolio .div1 h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}
#portfolio .div1 p {
  font-weight: 300;
  font-size: 1.2rem;
}
#portfolio .div1:hover {
  background: linear-gradient(90deg, rgb(32, 27, 117) 0%, rgb(23, 102, 127) 100%);
  transform: scale(0.5);
}
#portfolio .div2 {
  background: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg");
  padding: 5rem;
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.5s;
  background-size: cover;
}
#portfolio .div2 h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}
#portfolio .div2 p {
  font-weight: 300;
  font-size: 1.2rem;
}
#portfolio .div2:hover {
  background: linear-gradient(90deg, rgb(32, 27, 117) 0%, rgb(23, 102, 127) 100%);
  transform: scale(0.5);
}
#portfolio .div3 {
  background: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg");
  padding: 5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  color: white;
}
#portfolio .div3 h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}
#portfolio .div3 p {
  font-weight: 300;
  font-size: 1.2rem;
}
#portfolio .div3:hover {
  background: linear-gradient(90deg, rgb(32, 27, 117) 0%, rgb(23, 102, 127) 100%);
  transform: scale(0.5);
}
#portfolio .div4 {
  background: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg");
  padding: 5rem;
  color: white;
  background-position: center center;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
}
#portfolio .div4 h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}
#portfolio .div4 p {
  font-weight: 300;
  font-size: 1.2rem;
}
#portfolio .div4:hover {
  background: linear-gradient(90deg, rgb(32, 27, 117) 0%, rgb(23, 102, 127) 100%);
  transform: scale(0.5);
}

#team {
  background-color: #e9ecef;
  padding: 6rem 0;
  text-align: center;
}
#team h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}
#team h3 {
  color: #6c757d;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
#team .col-lg-4 img {
  width: 100px;
  height: 100px;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
  margin-top: 5px;
}
#team .col-lg-4 h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 700;
  line-height: 1.2;
}
#team .col-lg-4 p {
  color: #6c757d;
  line-height: 1.75;
  font-weight: 500;
}
#team .col-lg-4 a {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0;
  border-radius: 100%;
  border: 3px solid black;
  background-color: black;
  margin-left: 10px;
}
#team .col-lg-4 a i {
  color: white;
}

#call {
  background-color: #1D809F;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  text-align: center;
}
#call h2 {
  margin-bottom: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}
#call .click {
  padding: 1.25rem 2.5rem;
  margin-right: 1.5rem;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  color: black;
}
#call .click:hover {
  background-color: black;
}


footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}
footer a {
  display: inline-block;
  text-decoration: none;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  transition: background-color 0.15s ease-in-out;
  color: white;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}
footer a:hover {
  background-color: #13596f;
}
footer p {
  color: #6c757d;
  font-size: 0.875em;
}

.to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
}
.to-top:hover {
  background-color: #2e353b;
}/*# sourceMappingURL=main.css.map */